.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 80px;
    box-sizing: border-box;
    gap: 5%;
    height: auto;
}

.portfolio-title {
    text-align: center;
    color: white;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

.project-image {
    display: flex;
    justify-content: center;
    flex: .5;
}

.rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project {
    display: flex;
    flex-direction: column; 
    background-color: #5d5d5d;
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    flex: 0 0 40%;
}

.img {
    width: 95%;
    height: 300px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    object-fit: cover;
}

.project-content .project-title {
    display: flex;
    justify-content: center;
    flex: .2;
    text-align: center;
    color: black;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin-top: 20px;
    color: rgb(231, 229, 229);
}

.project-content .project-description {
    display: flex;
    justify-content: flex-start;
    flex: .2;
    margin-top: 10px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-left: 40px;
    padding-right: 40px;
    color: rgb(231, 229, 229);
    line-height: 23px;
}

.project-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.project-link, .github-link {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    z-index: 0;
}

.project-link {
    background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%);
    background-size: 200% auto;
    transition: 0.5s;
    color: white;
}

.project-link:hover {
    background-position: right center;
}

.github-link {
    background-image: linear-gradient(to right, #485563 0%, #29323c  51%, #485563  100%);
    background-size: 200% auto;
    transition: 0.5s;
    color: white;
}

.github-link:hover {
    background-position: right center;
    border: none;
}

.button-1, .button-2 {
   padding-bottom: 30px;
}

.button-3, .button-4 {
    padding-bottom: 30px;
}

@media only screen and (max-width: 1300px) {
    .img {
        height: 200px;
    }
}

@media only screen and (max-width: 1000px) {
    .rows {
        flex-direction: column;
        justify-content: center;
    }

    .rows {
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }

    .project {
        justify-content: center;
        align-items: center;
    }

    .img {
        height: auto;
        object-fit: fill;
    }

    .project-buttons {
        flex-direction: column;
    }

    .project-link {
        margin-bottom: 20px;
    }
}