.resume {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    box-sizing: border-box;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
      }
      50% {
        background-position: 100% 100%;
      }
      100% {
        background-position: 0% 0%;
      }
}

.education {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 50px;
    color: rgb(219, 219, 219);
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.education .education-title {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 20px;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.education-item {
    display: flex;
    flex: .5;
    align-items: flex-start;
    margin-top: 50px;
}

.college-logo {
    width: 190px;
    height: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.degree-info {
    line-height: 0px;
}

.degree-container {
    display: flex;
    justify-content: start;
    gap: 30%;
}

.coursework {
    margin-top: 40px;
}

.coursework h4 {
    font-size: 20px;
    font-weight: normal;
}

.coursework ul {
    margin-top: 10px;
    margin-left: 40px;
    line-height: 30px;
}

.coursework-list {
    list-style-type: disc;
}

.highschool {
    display: flex;
    margin-top: 150px;
}

.highschool-logo {
    width: 135px;
    height: auto;
    margin-right: 50px;
    margin-left: 15px;
    margin-top: 10px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: rgb(219, 219, 219);
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.skills .skills-title {
    text-align: center;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.language-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10%;
    max-width: 1280px;
    border: none;
    border-radius: 25px;
    background-color: #5d5d5d;
    text-align: center;
}

.language-container h1 {
    padding: 15px 0;
}

.language-box {
    background: linear-gradient(to right, #a3d3ca, #36abda);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
}

.framework-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10%;
    max-width: 1280px;
    border: none;
    border-radius: 25px;
    background-color: #5d5d5d;
    text-align: center;
}

.framework-container h1 {
    padding: 15px 0;
}

.framework-box {
    background: linear-gradient(to right, #8e33dd, #c281bd);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
}

.software-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10%;
    max-width: 1280px;
    border: none;
    border-radius: 25px;
    background-color: #5d5d5d;
    text-align: center;
}

.software-container h1 {
    padding: 15px 0;
}

.software-box {
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
}

.database-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10%;
    max-width: 1280px;
    border: none;
    border-radius: 25px;
    background-color: #5d5d5d;
    text-align: center;
}

.database-container h1 {
    padding: 15px 0;
}

.database-box {
    background: linear-gradient(to right, #eb5050, #ddff6e);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
}

.skill-box {
    width: 100%;
    justify-content: space-evenly;
    height: 50px;
    margin: 8px;
    border: none;
    border-radius: 25px;
    text-align: center;
}

.img-container {
    flex: 0 0 30%;
}

.java {
    display: flex;
    flex: .5;
    align-items: center;
    color: black;
    font-weight: bold;
}

.java .java-img {
    width: 40px;
    height: auto;
}

.java p {
    flex: 0 0 50%;
    text-align: start;
}

.c-sharp {
    display: flex;
    flex: .5;
    align-items: center;
    color: black;
    font-weight: bold;
}

.c-sharp .c-sharp-img {
    width: 35px;
    height: auto;
    margin-top: 3px;
}

.c-sharp p {
    flex: 0 0 50%;
    text-align: start;
}

.c {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.c .c-img {
    width: 35px;
    margin-top: 4px;
    height: auto;
}

.c p {
    flex: 0 0 50%;
    text-align: start;
}

.python {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.python .python-img {
    width: 40px;
    height: auto;
    margin-top: 8px;
}

.python p {
    flex: 0 0 50%;
    text-align: start;
}

.html {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.html .html-img {
    width: 50px;
    height: auto;
    margin-top: 4px;
}

.html p {
    flex: 0 0 50%;
    text-align: start;
}

.css {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.css .css-img {
    width: 31px;
    height: auto;
    margin-top: 4px;
}

.css p {
    flex: 0 0 50%;
    text-align: start;
}

.javascript {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.javascript .javascript-img {
    width: 45px;
    height: auto;
    margin-top: 4px;
}

.javascript p {
    flex: 0 0 50%;
    text-align: start;
}

.xml {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.xml .xml-img {
    width: 35px;
    height: auto;
    margin-top: 3px;
}

.xml p {
    flex: 0 0 50%;
    text-align: start;
}

.java, .c, .html, .javascript {
    margin-left: 15px;
}

.c-sharp, .python, .css, .xml {
    margin-right: 15px;
}

.javascript, .xml {
    margin-bottom: 7%;
}

.react {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.react .react-img {
    width: 40px;
    height: auto;
    margin-top: 2px;
}

.react p {
    flex: 0 0 50%;
    text-align: start;
}

.node {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.node .node-img {
    width: 40px;
    height: auto;
    margin-top: 3px;
}

.node p {
    flex: 0 0 50%;
    text-align: start;
}

.express {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.express .express-img {
    width: 40px;
    height: auto;
    margin-top: 2px;
}

.express p {
    flex: 0 0 50%;
    text-align: start;
}

.websocket {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.websocket .websocket-img {
    width: 35px;
    height: auto;
    margin-top: 4px;
}

.websocket p {
    flex: 0 0 50%;
    text-align: start;
}

.flutter {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.flutter .flutter-img {
    width: 30px;
    height: auto;
    margin-top: 3px;
}

.flutter p {
    flex: 0 0 50%;
    text-align: start;
}

.bootstrap {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.bootstrap .bootstrap-img {
    width: 40px;
    height: auto;
}

.bootstrap p {
    flex: 0 0 50%;
    text-align: start;
}

.react, .express, .flutter {
    margin-left: 15px;
}

.node, .websocket, .bootstrap {
    margin-right: 15px;
}

.flutter, .bootstrap {
    margin-bottom: 7%;
}

.androidStudio {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.androidStudio .androidStudio-img {
    width: 35px;
    height: auto;
}

.androidStudio p {
    flex: 0 0 50%;
    text-align: start;
}

.unity {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.unity .unity-img {
    width: 35px;
    height: auto;
}

.unity p {
    flex: 0 0 50%;
    text-align: start;
}

.godot {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.godot .godot-img {
    width: 40px;
    height: auto;
}

.godot p {
    flex: 0 0 50%;
    text-align: start;
}

.postman {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.postman .postman-img {
    width: 35px;
    height: auto;
}

.postman p {
    flex: 0 0 50%;
    text-align: start;
}

.sonarqube {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.sonarqube .sonarqube-img {
    width: 40px;
    height: auto;
}

.sonarqube p {
    flex: 0 0 50%;
    text-align: start;
}

.git {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.git .git-img {
    width: 40px;
    height: auto;
}

.git p {
    flex: 0 0 50%;
    text-align: start;
}

.androidStudio, .godot, .sonarqube {
    margin-left: 15px;
}

.unity, .postman, .git {
    margin-right: 15px;
}

.sonarqube, .git {
    margin-bottom: 7%;
}

.firebase {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.firebase .firebase-img {
    width: 30px;
    height: auto;
    margin-top: 3px;
}

.firebase p {
    flex: 0 0 50%;
    text-align: start;
}

.mongodb {
    display: flex;
    flex: 1;
    align-items: center;
    color: black;
    font-weight: bold;
}

.mongodb .mongodb-img {
    width: 30px;
    height: auto;
    margin-top: 4px;
}

.mongodb p {
    flex: 0 0 50%;
    text-align: start;
}

.firebase {
    margin-left: 10px;
}

.mongodb {
    margin-right: 10px;
}

.firebase, .mongodb {
    margin-bottom: 5%;
}

@media only screen and (max-width: 1200px) {
    .education {
        margin-left: 0;
    }

    .college {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .resume {
        flex-direction: column;
    }

    .education .education-title {
        font-size: 45px;
    }

    .highschool {
        margin-top: 20px;
    }

    .skills .skills-title {
        font-size: 45px;
    }

    .javascript, .express, .websocket, .sonarqube {
        font-size: 16px;
    }
}

@media only screen and (max-width: 700px) {
    .education-item {
        flex-direction: column;
    }

    .college .college-logo {
        margin-bottom: -30px;
    }

    .highschool .highschool-logo {
        margin-top: 30px;
    }
}