.resume {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    box-sizing: border-box;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
      }
      50% {
        background-position: 100% 100%;
      }
      100% {
        background-position: 0% 0%;
      }
}

.education {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 50px;
    color: rgb(219, 219, 219);
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.education .education-title {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 20px;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.education-item {
    display: flex;
    flex: .5;
    align-items: flex-start;
    margin-top: 50px;
}

.college-logo {
    width: 190px;
    height: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.degree-container {
    display: flex;
    justify-content: start;
    gap: 30%;
}

.coursework {
    margin-top: 40px;
}

.coursework h4 {
    font-size: 20px;
    font-weight: normal;
}

.coursework ul {
    margin-top: 10px;
    margin-left: 40px;
    line-height: 30px;
}

.coursework-list {
    list-style-type: disc;
}

.highschool {
    display: flex;
    margin-top: 250px;
}

.highschool-logo {
    width: 135px;
    height: auto;
    margin-right: 50px;
    margin-left: 15px;
    margin-top: 10px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: rgb(219, 219, 219);
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.skills .skills-title {
    text-align: center;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.language-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10%;
    max-width: 1280px;
    border: none;
    border-radius: 25px;
    background-color: #5d5d5d;
    text-align: center;
}

.language-container h1 {
    padding: 15px 0;
}

.language-box {
    background: linear-gradient(to right, #a3d3ca, #36abda);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
}

.framework-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10%;
    max-width: 1280px;
    border: none;
    border-radius: 25px;
    background-color: #5d5d5d;
    text-align: center;
}

.framework-container h1 {
    padding: 15px 0;
}

.framework-box {
    background: linear-gradient(to right, #8e33dd, #c281bd);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
}

.software-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10%;
    max-width: 1280px;
    border: none;
    border-radius: 25px;
    background-color: #5d5d5d;
    text-align: center;
}

.software-container h1 {
    padding: 15px 0;
}

.software-box {
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
}

.database-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10%;
    max-width: 1280px;
    border: none;
    border-radius: 25px;
    background-color: #5d5d5d;
    text-align: center;
}

.database-container h1 {
    padding: 15px 0;
}

.database-box {
    background: linear-gradient(to right, #eb5050, #ddff6e);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
}

.certifications-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 10%;
    max-width: 1280px;
    border: none;
    border-radius: 25px;
    background-color: #5d5d5d;
    text-align: center;
}

.certifications-container h1 {
    padding: 15px 0;
}

.certification-box {
    width: 100%;
    background: linear-gradient(to right, #50e1eb, #f654aa);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
}

.skill-box {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    height: 50px;
    margin: 8px;
    border: none;
    border-radius: 25px;
    text-align: center;
}

.full-skill-box {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin: 8px;
    border: none;
    border-radius: 25px;
    text-align: center;
}

.img-container {
    display: flex;
    flex: 0 0 30%;
    margin: 5px 0 5px 10px;
    justify-content: flex-start;
}

.full-img-container {
    display: flex;
    flex: 0 0 15%;
    margin: 5px 0 5px 10px;
    justify-content: flex-start;
}

.title-container {
    display: flex;
    flex: 0 0 70%;
    color: black;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2px;
}

/* Components on the left side */
.left {
    margin-left: 15px;
}

/* Components on the right side */
.right {
    margin-right: 15px;
}

/* Final component in section */
.bottom {
    margin-bottom: 7%;
}

/* Hidden components */
.hidden {
    visibility: hidden;
}

/* Language styling */
.logo {
    display: flex;
    width: 30px;
    height: auto;
    align-self: center;
}

.javascript-title, .typescript-title {
    font-size: 15px;
}

/* Framework styling */
.websockets-title {
    font-size: 14px;
}

/* Software styling */
.androidStudio-title {
    display: flex;
    text-align: start;
}

.sonarqube-title {
    font-size: 15px;
}

/* Database styling */
.sqlserver-title {
    font-size: 15px;
    text-align: start;
}

/* Certification styling */
.atnt-img {
    align-self: center;
    justify-self: center;
}

@media only screen and (max-width: 1120px) {
    .education {
        margin-left: 0;
    }

    .college {
        margin-top: 20px;
    }

    /* Language styling */
    .javascript-title, .typescript-title {
        font-size: 13px;
    }

    /* Framework styling */
    .websockets-title {
        font-size: 12px;
    }

    .bootstrap-title {
        font-size: 14px;
    }

    /* Software styling */
    .sonarqube-title {
        font-size: 12px;
    }

    .androidStudio-title, .postman-title {
        font-size: 14px;
    }

    /* Database styling */
    .sqlserver-title {
        font-size: 13px;
    }

    .mongodb-title {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px) {
    .resume {
        flex-direction: column;
    }

    .education .education-title {
        font-size: 45px;
    }

    .highschool {
        margin-top: 20px;
    }

    .skills .skills-title {
        font-size: 45px;
    }

    .logo-title {
        font-size: 18px;
    }
}

@media only screen and (max-width: 700px) {
    .education-item {
        flex-direction: column;
    }

    .college .college-logo {
        margin-bottom: -30px;
    }

    .highschool .highschool-logo {
        margin-top: 30px;
    }

    .logo-title {
        font-size: 14px;
    }

    /* Language styling */
    .javascript-title, .typescript-title {
        font-size: 12px;
    }

    /* Framework styling */
    .websockets-title {
        font-size: 10px;
    }

    .express-title, .bootstrap-title {
        font-size: 13px;
    }

    /* Software styling */
    .sonarqube-title {
        font-size: 11px;
    }

    /* Database styling */
    .sqlserver-title {
        font-size: 12px;
    }

    .mongodb-title {
        font-size: 13px;
    }
}